{
  "apps": [
    {
      "serverURL": "https://{{ nginx_vhost_str }}/{{ parse_short_name }}",
      "appId": "{{ parse_application_id }}",
      "masterKey": "{{ parse_master_key }}",
      "appName": "{{ parse_app_name }}"
    }
  ]
}
