{
  "apps": [
    {
      "serverURL": "http://{{ nginx_vhost_str }}/parse",
      "appId": "your_application_id",
      "masterKey": "your_master_key",
      "appName": "Your Application"
    }
  ]
}
