;  _____________________________________
; /                                     \
; | This file was deployed by Ansible.  Feel free to modify it as needed   |
; \_____________________________________/
;       \   ^__^
;        \  (oo)\_______
;           (__)\       )\/\
;               ||----w |
;               ||     ||
; {{ ansible_managed }}

; This is a placeholder so future php-fpm updates don't enable the default pool. 
