INSERT INTO `{{ joomla_db_prefix }}users`
   (`name`, `username`, `email`, `password`, `params`)
VALUES ('{{ joomla_user_name }}', '{{ joomla_user }}',
    '{{ joomla_user_email }}',
    '{{ joomla_pass_salt|hash('md5') }}:{{ joomla_salt }}', '');
INSERT INTO `{{ joomla_db_prefix}}user_usergroup_map` (`user_id`,`group_id`)
VALUES (LAST_INSERT_ID(),'8');
