#  _____________________________________
# /                                     \
# | This file was deployed by Ansible.  Feel free to modify it as needed   |
# \_____________________________________/
#       \   ^__^
#        \  (oo)\_______
#           (__)\       )\/\
#               ||----w |
#               ||     ||
# {{ ansible_managed }}

[client]
user = root
password = {{ mysql_root_pw }}
