[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory=/home/jenkins
User=jenkins

ExecStart=/usr/bin/java -jar swarm.jar -autoDiscoveryAddress {{ jenkins_ip }} -username swarm -password {{ swarm_password }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
