upstream master {
  server {{ nginx_upstream_server }};
}
server {

# disable access log and define error_log to critical.
  access_log off;
  error_log  /var/log/nginx/{{ item.name }}_error_log crit;
  root {{ item.doc_root }};

# listen at 80 port, on any ip address.
  listen    {{ item.http_port }};
  listen    {{ item.ssl_port }} ssl;
  ssl_certificate {{ nginx_ssl_cert }};
  ssl_certificate_key {{ nginx_ssl_key }};

# set the server name of your website
  server_name  {% for alias in item.aliases %} {{ alias }} {% endfor %};

  location ~* ^/(admin) {
    proxy_pass http://master;
    proxy_set_header Host {{ item.name }};
  }

  {% if item.phpmyadmin or item.phpmyadmin == 'True' %}
  location ~* ^/phpmyadmin {
    proxy_pass http://master;
    proxy_set_header Host {{ item.name }};
  }

  {% endif %}
# define the root directory of your site and index files.
  location / {
    root   {{ item.doc_root }};
    index  index.php index.html index.htm;
    try_files $uri /index.php?$query_string;
    proxy_set_header Host {{ item.name }};
    if ($arg_q ~ (node|user|admin)) {
      proxy_pass http://master;
    }
  }

  location ~* .(gif|jpg|jpeg|png|ico|wmv|3gp|avi|mpg|mpeg|mp4|flv|mp3|mid|js|css|wml|swf)$ {
    root   {{ item.doc_root }};
    expires max;
    add_header Pragma public;
    add_header Cache-Control "public, must-revalidate, proxy-revalidate";
  }
  location @handler {
    rewrite / /index.php;
  }

  location ~ .php/ {
    rewrite ^(.*.php)/ $1 last;
  }

  location ~ ^/sites/.*/private/ {
     return 403;
  }

  location ~ (^|/)\. {
    return 403;
  }

  location @rewrite {
    rewrite ^/(.*)$ /index.php?q=$1;
  }

  location ~ ^/sites/.*/files/styles/ { # For Drpal >= 7
    try_files $uri @rewrite;
  }

  location ~ .php$ {
    try_files $uri /index.php;
    expires off;
#    fastcgi_pass unix:/var/run/php-fpm/{{ item.name }}.sock;
    fastcgi_pass 127.0.0.1:80{{ item.http_port }};
    fastcgi_buffers 256 4k;
    fastcgi_buffer_size 32k;
    fastcgi_busy_buffers_size 256k;
    fastcgi_read_timeout 3600s;
#    fastcgi_param HTTPS $fastcgi_https;
    fastcgi_param SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_param MAGE_RUN_CODE default;
    fastcgi_param MAGE_RUN_TYPE store;
    include fastcgi_params;
  }

}
