upstream master {
  server {{ nginx_upstream_server }};
}

server {

  listen {{ item.http_port }} default_server;
  listen    {{ item.ssl_port }} ssl;
  ssl_certificate {{ nginx_ssl_cert }};
  ssl_certificate_key {{ nginx_ssl_key }};

#  ssl_certificate /etc/pki/tls/certs/localhost.crt;
#  ssl_certificate_key /etc/pki/tls/private/localhost.key;

  server_name {% for alias in item.aliases %} {{ alias }} {% endfor %} {{ item.name }} "";
  root {{ item.doc_root }};
  access_log /var/log/nginx/{{ item.name }}-access.log main;
  error_log /var/log/nginx/{{ item.name }}-error.log warn;

  server_tokens off;

  index index.php index.html;

  # Magento dashboard to Master server
  location ~* ^/admin {
    proxy_pass http://master;
    proxy_set_header Host {{ item.name }};
  }

  location / {
    proxy_set_header Host {{ item.name }};
    if ($cookie_adminhtml) {
      proxy_pass http://master;
    }
    try_files $uri $uri/ @handler;
    expires 30d;
  }

  location ~ ^/(app|includes|lib|media/customer|media/downloadable|pkginfo|var)/ { deny all; }
  location ~ ^/RELEASE_NOTES.txt      { return 404; }
  location ~ ^/errors/.*\.(xml|phtml)$ { return 404; }
  location ~ ^/media/.*\.(cfg|ini|xml)$ { return 404; }
  location ~ ^/media/.*\.(php|pl|py|jsp|asp|htm|shtml|sh|cgi) { return 404; }
  location ~ /\. { return 404; }

  location /media/ {
    try_files $uri uri/ /get.php;
    expires 30d;
  }

  location ~* \.(eot|ttf|woff)$ {
    add_header Access-Control-Allow-Origin *;
  }

  location @handler {
    rewrite / /index.php;
  }

  location ~ .php/ {
    rewrite ^(.*.php)/ $1 last;
  }

  location ~ .php$ {
    try_files $uri /index.php;
    expires off;
#    fastcgi_pass unix:/var/run/php-fpm/{{ item.name }}.sock;
    fastcgi_pass 127.0.0.1:80{{ item.http_port }};
    fastcgi_buffers 256 4k;
    fastcgi_buffer_size 32k;
    fastcgi_busy_buffers_size 256k;
    fastcgi_read_timeout 3600s;
#    fastcgi_param HTTPS $fastcgi_https;
    fastcgi_param SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_param MAGE_RUN_CODE default;
    fastcgi_param MAGE_RUN_TYPE store;
    include fastcgi_params;
  }

  location ~ ^/(php-status|ping)$ {
    access_log off;
    allow 127.0.0.1;
    allow {{ ansible_eth0["ipv4"]["address"] }};
    deny all;
    include fastcgi_params;
    fastcgi_pass 127.0.0.1:80{{ item.http_port }};
    include fastcgi_params;
    fastcgi_param PATH_TRANSLATED $document_root$fastcgi_script_name;
  }
}
