;  _____________________________________
; /                                     \
; | This file was deployed by Ansible.  Feel free to modify it as needed   |
; \_____________________________________/
;       \   ^__^
;        \  (oo)\_______
;           (__)\       )\/\
;               ||----w |
;               ||     ||
; {{ ansible_managed }}

[{{ item.name }}]

listen = 127.0.0.1:80{{ item.http_port }}


listen.allowed_clients = 127.0.0.1
listen.owner = {{ item.phpfpm_user }}
listen.group = nginx
listen.mode = 0660

group = nginx
user = {{ item.phpfpm_user}}

pm = dynamic
pm.start_servers = {{ phpfpm_start_servers }}
pm.min_spare_servers = {{ phpfpm_min_spare_servers }}
pm.max_spare_servers = {{ phpfpm_max_spare_servers }}
pm.max_children = {{ phpfpm_max_children }}
pm.max_requests = {{ phpfpm_max_requests }}
pm.process_idle_timeout = 20s
pm.status_path = /php-status

catch_workers_output = yes
slowlog = /var/log/php-fpm/{{ item.name }}-slow.log

php_flag[display_errors] = off
php_admin_flag[zlib.output_compression] = On
php_admin_flag[log_errors] = on
php_admin_value[error_log] = /var/log/php-fpm/{{ item.name }}-error.log
php_admin_value[memory_limit] = 512M
php_flag[expose_php] = off
