<html>
  <head>
    <title>WELCOME - {{ item.name }}</title>
  <body>
    <h1>WELCOME</h1>
    This is the default index page. Remove this file (index.html) from /var/www/vhosts/{{ item.name }}/ and upload your own data.
  </body>
</html>
