# Generated with Ansible
#
# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default

{% for port in active_ports %}
{%- if port == 443 and ansible_os_family != 'Debian' %}
Listen {{ port }}
{% elif port != 443 %}
Listen {{ port }}
{% endif %}
{% endfor %}

{% if ansible_os_family == 'Debian' and 443 in active_ports %}
<IfModule ssl_module>
	Listen 443
</IfModule>

<IfModule mod_gnutls.c>
	Listen 443
</IfModule>
{% endif %}
