settings {
        logfile = "/var/log/lsyncd/lsyncd.log",
        statusFile = "/var/log/lsyncd/lsyncd-status.log",
        statusInterval = 20
        }
{% for slave in lsync_servers %}
{% for dir in lsync_dirs %}
sync {
        default.rsync,
        source = "{{ dir }}",
        target = "{{ slave }}:{{ dir }}",
        excludeFrom="/etc/lsyncd.exclude",
        rsync = {
                compress = true,
                acls = true,
                verbose = true,
                rsh = "/usr/bin/ssh -p 22 -o StrictHostKeyChecking=no",
                _extra = {"-a"}
        }
}
{% endfor %}
{% endfor %}
