#Minecraft server properties
#Wed Dec 02 18:47:45 UTC 2015
max-tick-time=60000
generator-settings=
force-gamemode=false
allow-nether=true
gamemode={{ minecraft_gamemode }}
enable-query=false
player-idle-timeout=0
difficulty={{ minecraft_difficulty }}
spawn-monsters={{ minecraft_spawn_monsters }}
op-permission-level=4
resource-pack-hash=
announce-player-achievements=true
pvp=true
snooper-enabled=true
level-type=DEFAULT
hardcore={{ minecraft_hardcore }}
enable-command-block=false
max-players={{ minecraft_max_players }}
network-compression-threshold=256
max-world-size=29999984
server-port={{ minecraft_port }}
server-ip=
spawn-npcs={{ minecraft_spawn_npcs }}
allow-flight=false
level-name=world
view-distance=10
resource-pack=
spawn-animals={{ minecraft_spawn_animals }}
white-list=false
generate-structures=true
online-mode={{ minecraft_online }}
max-build-height=256
level-seed=
use-native-transport=true
enable-rcon=false
motd={{ minecraft_motd }}
